<div class="row">
  <div class="col-md-6">
    

    <form class="login">
        <h2 class="loginTitle">Login</h2>
      <div class="form-group">
        <p class="log">Username</p>
        <input class="form" placeholder="email" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <p class="log">Password</p>
        <input class="form" placeholder="password" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn" id="login-button" type="submit">login!</button>
        <a href="/signup" class="sign">Sign Up!</a>
        
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>