<div class="row">
  <div class="col-md-6">
    

    <form class="login">
        <h2 class="loginTitle">Sign Up</h2>
      <div class="form-group">
        <p class="log">Username</p>
        <input class="form" placeholder="email" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <p class="log">Password</p>
        <input class="form" placeholder="password" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn" id="signup-button" type="submit">sign up!</button>
        <a href="/login" class="sign">Have an account? Log in!</button></a>
        
      </div>
    </form>
  </div>
</div>
<script src="./js/login.js"></script>